body,
html {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

#header {
display:box;
  width: 100%;
  background-color: white;
  transition: background ease-out 0.2s;
  position:fixed;
  top:0px;
  z-index:1;
  box-shadow: 0 2px 5px -2px var(--bs-primary);
}

#header .active {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link{
text-transform: uppercase;
font-weight: 500;
padding-left: 0;
padding-right: 0;
margin-left: 15px;
margin-right: 15px;
color: #000;
border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
border-bottom: solid 4px var(--bs-secondary);
color: var(--bs-secondary)
}



#ferramentas a.destaque {
  display: block;
  background: var(--bs-light);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#ferramentas a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#ferramentas p {
  color: var(--dark);
}

#ferramentas a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#plataforma a.destaque .img-container img {
  max-height: 160px;
}

#plataforma a.destaque {
  display: block;
  background: var(--bs-light);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#plataforma a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#plataforma p {
  color: var(--dark);
}

#plataforma a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#plataforma a.destaque .img-container img {
  max-height: 160px;
}

#contactos ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contactos ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contactos{
background-color: var(--bs-primary-light);
}

#contactos ul li:first-child {
  margin-left: 0;
}

#contactos ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contactos ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contactos ul li img {
  max-height: 20px;
}


/* ----------- navbar dropdown ----------- */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown > a, .nav-dropdown > button {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.nav-dropdown > a:before, .nav-dropdown > button:before {
  position: absolute;
  right: 7px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.nav-dropdown ul {
  position: absolute;
  top: 18px;
  border: 1px solid #ccc;
  border-top: 2px solid var(--bs-secondary);
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
  box-shadow: 0px 0px 3px var(--bs-secondary);
}

.nav-dropdown:hover ul {
  display: block;
  top:2.7em;
}

.nav-link nav-dropdown:hover{
  border-bottom: solid 4px var(--bs-secondary);
  color: var(--bs-secondary)
}

.nav-dropdown ul li {
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.nav-dropdown ul li:hover{
  background-color: #F5F5F5;
  cursor: pointer;
}

.nav-dropdown ul li a {
  text-decoration: none;
  display: block;
  color: black
}

.nav-dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}

.nav-dropdown:hover #nav-gestao{
border-bottom: solid 4px var(--bs-secondary);
color: var(--bs-secondary)
}

#depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* ----------- Sobre nos ----------- */
.sobre-nos-lista {
font-size:24px;
}