.title {
  text-transform: uppercase;
  color: var(--bs-secondary);
  font-family: "Slabo", sans-serif;
}

.button{
  font-weight: 500;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}


.button-primary{
background-color: var(--bs-primary-light);
border-color: var(--bs-primary-light);
}

.button-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
